:root {
  --main-black-color: #333333;
  --main-grey-color: #999999;
  --main-blue-color: #95e1d3;
  --main-red-color: #f38181;
  --main-font: 'Montserrat', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
}
